* {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all .25s ease-in-out; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  line-height: 1.8;
  background-color: #eef0f2; }

body::-webkit-scrollbar {
  width: 0; }

h2 {
  color: #6090F4; }

.mainHeader {
  line-height: 8.8rem;
  font-weight: 600;
  font-size: 9.4rem;
  text-align: left; }

.changin {
  color: #34495E !important; }

.txt {
  display: block; }

@media screen and (max-width: 900px) {
  .header_navbarContainer_btn {
    display: none; }
  .header {
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05); }
  .header_navbarContainer_second {
    position: fixed;
    top: 10.2rem;
    left: -100%;
    width: 100%;
    background-color: #eef0f2e7;
    text-align: center;
    transition: all 0.3s ease-in-out; }
    .header_navbarContainer_second ul {
      text-align: center;
      flex-direction: column; }
      .header_navbarContainer_second ul li {
        padding: 2rem 0; }
        .header_navbarContainer_second ul li a {
          font-size: 2.8rem; }
  .header_navbarContainer_hamburguer {
    display: block !important; } }

.btn {
  text-decoration: none;
  padding: 2rem 1rem;
  border-radius: 1rem;
  color: #eef0f2;
  font-weight: 500;
  font-size: 1.8rem; }
  .btn-primary {
    background-color: #6090F4; }
  .btn-contact {
    padding: 0 !important;
    font-size: 2.2rem;
    font-weight: 600;
    color: #6090F4; }

.header {
  z-index: 10;
  background-color: #eef0f2e7;
  backdrop-filter: blur(6px);
  position: fixed;
  top: 0;
  width: 100%;
  height: 10rem; }
  .header li {
    text-decoration: none;
    display: inline-block; }
    .header li a {
      font-size: 1.75rem;
      line-height: 2.4rem;
      font-weight: 500;
      color: #14171A;
      text-decoration: inherit; }
    .header li a:hover {
      color: #6090F4; }
  .header li:not(:last-child) {
    padding-right: 4rem; }
  .header_navbar {
    margin: 2rem 4rem 0; }
    .header_navbarContainer {
      align-items: center;
      width: 100%;
      height: 10rem;
      display: flex;
      justify-content: space-between; }
      .header_navbarContainer_hamburguer {
        display: none;
        cursor: pointer; }
        .header_navbarContainer_hamburguerItem {
          display: block;
          width: 2.5rem;
          height: .3rem;
          margin: .5rem auto;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          background-color: #101010; }
      .header_navbarContainer_second {
        flex: 2;
        padding: 0% 10vw; }
        .header_navbarContainer_second ul {
          display: flex;
          justify-content: space-evenly; }

.appearH {
  left: 0; }

.main {
  position: absolute;
  top: 30rem;
  width: 100%; }

.main_container {
  display: flex;
  flex-direction: column; }
  .main_containerFirst {
    width: 100%;
    height: 85vh; }
    .main_containerFirstContainer {
      padding: 0 3rem 0; }
