@media screen and (max-width: 850px) {
    .header_navbarContainer_btn
    {
        display: none;
    }
    .header{
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .header_navbarContainer_second
    {
        position: fixed;
        top: 10.2rem;
        left: -100%;
        width: 100%;
        background-color: $background-transparenty-color;
        text-align: center;
        transition: all 0.3s ease-in-out;
            & ul
            {
                text-align: center;
                flex-direction: column;
                & li
                {
                    padding: $space-small 0;
                    & a
                    {
                        font-size: 2.8rem;
                    }
                }
            }
    }
    .header_navbarContainer_hamburguer
    {
        display: block !important;
    }
}