//colors
$primary-color: #6090F4;
$secundary-color: #34495E;
$font-color: #14171A;
$background-color: #eef0f2;
$background-transparenty-color: #eef0f2e7;
//size
$space-small: 2rem;
$space-medium: 4rem;
$space-large: 8rem;
